
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
    color: rgb(218, 218, 218);

    margin: 2vw;

    font-family: Helvetica, sans-serif;
    
    /* Prevent text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1 {
    font-size: 36pt;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

header{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}



.scale-selection {
    display: grid;
    grid-template-columns: 100px 300px; 
    grid-template-rows: 30px 30px;  
    grid-gap: 1vw;
    /* background-color: red; */
    margin-bottom: 1vh;
}



.scale{
    display: grid;
    grid-template-columns: repeat(4, 23vw);
    grid-template-rows: 23vw 23vw;
    grid-gap: 1.5vw;
    padding: 0 1.75vw 0 1.75vw;

}

.chord {
  background: rgb(114, 76, 111);
  border-radius: 5px;
  text-align: center;
  padding: 10%;
    
}

.chord:hover {
    background:rgb(79, 65, 83); 
}

.chord-number {
    font-family: times;
    padding: 4%;
    font-size: 12vw;
}
.chord-name {

    font-size: 4vw;
    padding: 0%;
}

.scale-name {
    font-size: 5vw;
    padding-left: 1.75vw;
    padding-top: 3vw;
    padding-bottom: 1vw;

}

@media only screen and (min-device-width: 500px) and (min-width: 960px) {
.scale {
    display: grid;
    grid-template-columns: repeat(8, 11vw);
    grid-template-rows: 11vw;
    grid-gap: 1vw;
    padding: 0 2.5vw 0 2.5vw;
}
.chord-name {
    font-size: 1.75vw;
    padding: 0%;
}
.chord-number {
    font-size: 5vw;
    padding: 8%;
}
.scale-name {
    font-size: 3vw;
    padding-left: 2.5vw;
}
}


@media screen and (min-width: 1200px) {
    .scale-name {
       font-size: 34px;
    }
  }